<% layout("/layout/boilerplate")%>

  <div class="row mt-3">
    <div class="col-8 offset-2">

      <h1>Edit Post</h1>
      <form action="/listings/<%= listing._id %>?_method=put" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" placeholder="Enter Title" name="listing[title]" value="<%=listing.title%>"
            class="form-control">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input type="text" name="listing[image][url]" placeholder="enter url of image" value="<%= listing.image.url%>"
            class="form-control">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" name="listing[description]" id="description"
            class="form-control"><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="listing[price]" placeholder="price" value="<%= listing.price%>"
            class="form-control">
        </div>
        <div class="row">
          <div class="col mb-3 col-mid-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="country name" value="<%= listing.country%>"
              class="form-control">
          </div>

          <div class="col mb-3 col-mid-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="location" value="<%= listing.location%>"
              class="form-control">
          </div>
        </div>
        <button class="btn btn-dark edit-button">update</button>
      </form>
    </div>
  </div>