<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>users</title>
</head>
<style>
  table,
  tr,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  form {
    display: inline-block;
  }
</style>

<body>
  <h3>User List</h3>
  <form action="/" method="get">
    <button> Home</button>
  </form>
  <form action="/adduser" method="get">
    <button>Add User</button>
  </form>
    <table>
      <tr>
        <th>S.N</th>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>Profile</th>
      </tr>
      <% let i=1; %>
        <% for(let user of data){ %>
          <tr>
            <td>
              <%= i++ %>
            </td>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <form action="/user/<%= user.id %>/edit" method="get">
                <button>Edit Profile</button>
              </form>
              <form action="/user/<%= user.id %>/delete" method="get">
                <button>Delete User</button>
              </form>
            </td>
          </tr>
          <% } %>
    </table>
</body>

</html>